(common_security) {
  header {
    -Server
    X-Frame-Options "DENY"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
  }
}


staging.rheonic.dev {
  encode gzip zstd

  import common_security

  handle_path /.env* {
    respond 403
  }

  handle_path /.git* {
    respond 403
  }

  handle_path /logs* {
    respond 403
  }

  handle_path /debug* {
    respond 403
  }

  handle /api/* {
    reverse_proxy staging-backend:8000
  }

  handle {
    reverse_proxy staging-frontend:80
  }
}

beta.rheonic.dev {
  encode gzip zstd

  log {
    output stdout
    format json
  }

  import common_security
  
  handle_path /.env* {
    respond 403
  }

  handle_path /.git* {
    respond 403
  }

  handle_path /logs* {
    respond 403
  }

  handle_path /debug* {
    respond 403
  }

  handle /api/* {
    reverse_proxy prod-backend:8000
  }

  handle {
    reverse_proxy prod-frontend:80
  }
}
