(common_security) {
  header {
    -Server
    X-Frame-Options "DENY"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
  }
}

(block_bad_paths) {
  @bad path /.env* /.git* /wp-admin* /phpmyadmin* /logs* /debug*
  respond @bad 404
}

staging.rheonic.dev {
  encode gzip zstd

  import common_security
  import block_bad_paths

  handle /api/* {
    reverse_proxy staging-backend:8000
  }

  handle {
    reverse_proxy staging-frontend:80
  }
}

beta.rheonic.dev {
  encode gzip zstd

  import common_security
  import block_bad_paths

  log {
    output stdout
    format json
  }

  handle /api/* {
    reverse_proxy prod-backend:8000
  }

  handle {
    reverse_proxy prod-frontend:80
  }
}
